
$font-sans-serif: "Open Sans", sans-serif;
$font-serif: "Montserrat", serif;

// Typography
$ms-base: 16px;
$ms-ratio: 1.333;
$base-font-size: $ms-base;
$base-line-height-ratio: 1.5;
$base-line-height: $base-font-size * $base-line-height-ratio;

$regular-font-weight: 400;
$bold-font-weight: 700;



$body-font-color: $big-stone;
$heading-font-color: $big-stone;

$h1-font-size: ms(5);
$h1-line-height: $h1-font-size * $base-line-height-ratio;
$h1-mobile-font-size: ms(2);
$h1-mobile-line-height: $h1-mobile-font-size * $base-line-height-ratio;

$h2-font-size: ms(4);
$h2-line-height: $h2-font-size * $base-line-height-ratio;
$h2-mobile-font-size: ms(1);
$h2-mobile-line-height: $h2-mobile-font-size * $base-line-height-ratio;

$h3-font-size: ms(2);
$h3-line-height: $h3-font-size * $base-line-height-ratio;
$h3-mobile-font-size: ms(1);
$h3-mobile-line-height: $h3-mobile-font-size * $base-line-height-ratio;

$h4-font-size: ms(1);
$h4-line-height: $h4-font-size * $base-line-height-ratio;
$h4-mobile-font-size: ms(1);
$h4-mobile-line-height: $h4-mobile-font-size * $base-line-height-ratio;

$h5-font-size: ms(0);
$h5-line-height: $h5-font-size * $base-line-height-ratio;
$h5-mobile-font-size: ms(0);
$h5-mobile-line-height: $h5-mobile-font-size * $base-line-height-ratio;


$small-font-size: ms(-1);
$small-line-height: $small-font-size * $base-line-height-ratio;



@include establish-baseline;

@mixin font-size($size: 0) {
  font-size: ms($size);
  line-height: ms($size) * $base-line-height-ratio;
}

body {
  font-family: $font-sans-serif;
  font-size: ms(0);
  font-weight: $regular-font-weight;
  line-height: $base-line-height;
  color: $big-stone;
}

h1 {
  font-family: $font-serif;
  font-size: $h1-font-size;
  font-weight: $bold-font-weight;
  line-height: $h1-line-height;
  color: $white;

  @include at(1) {
    font-size: $h1-mobile-font-size;
    line-height: $h1-mobile-line-height;
  }
}

h2 {
  font-family: $font-serif;
  font-size: $h2-font-size;
  font-weight: $regular-font-weight;
  font-style: italic;
  line-height: $h2-line-height;
  color: $big-stone;

  @include at(1) {
    font-size: $h2-mobile-font-size;
    line-height: $h2-mobile-line-height;
  }
}

h3 {
  font-family: $font-sans-serif;
  font-size: $h3-font-size;
  font-weight: $regular-font-weight;
  line-height: $h3-line-height;
  color: $white;

  @include at(1) {
    font-size: $h3-mobile-font-size;
    line-height: $h3-mobile-line-height;
  }
}

h4 {
  font-family: $font-sans-serif;
  font-size: $h4-font-size;
  font-weight: $regular-font-weight;
  line-height: $h4-line-height;
  color: $big-stone;

  @include at(1) {
    font-size: $h4-mobile-font-size;
    line-height: $h4-mobile-line-height;
  }
}
h5{
  font-family: $font-serif;
  font-size: $h5-font-size;
  font-weight: $bold-font-weight;
  line-height: $h5-line-height;
  color: $big-stone;

  @include at(1) {
    font-size: $h5-mobile-font-size;
    line-height: $h5-mobile-line-height;
  }
}
small {
  font-size: $small-font-size;
  font-weight: $regular-font-weight;
  line-height: $small-line-height;
}


