.heroone-block {
	background-color: $casa;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: left;

	background-image: url(../images/hero-1.png);

	@include breakpoint($hidpi) {
		//background-image: url(../images/hero-1@2x.png);
	}

	.heroone-block-content {
		@include container;
		padding-left: 15px;
		padding-right: 15px;
		h1,h3 {
			margin: 0px;
		}
		.button {
			margin-top: 30px;
		}
	}
}

@include from(2) {
	.heroone-block-content {
		@include rhythm-padding(6);
	}
}

@include to(2) {
	.heroone-block-content {
		@include rhythm-padding(2);
	}
}

